extends ../layout

block content
    div.card
        h1 Administration
        div
            h2 Commands management
            div.buttons
                a(href="/admin/commands/date")
                    button Orders date
                a(href="/admin/commands")
                    button Manage commands

        div
            h2 Sandwich management
            div.buttons
                a(href="/admin/sandwiches")
                    button Manage sandwiches

        div
            h2 User management
            div.buttons
                a(href="/admin/users")
                    button Manage users
