extends layout

block content
    div.container
        div.row
            h3=__("forgetPassword")
            if (!token)
                form(action="/forget" method="POST")
                    div.row
                        div.input-field.col.s12
                            input#email(type="email" name="email" required)
                            label(for="email")=__("email")
                    div.row
                        div.input-field.col.s12
                            +submit(__("send"))
            else
                form(action="/forget" method="POST")
                    div.row
                    input(type="hidden" name="token" value=token)
                    div.row
                        div.input-field.col.s12
                            input#password(type="password" name="password" required)
                            label(for="password")=__("password")
                    div.row
                        div.input-field.col.s12
                            +submit(__("send"))
