doctype html
html
  head
    title= title
    link(rel="stylesheet", href="/stylesheets/style.css")
  body
    block content

    div#user
      a(href="/") Home
      if user
        if user.permissions >= 1
          p -
          a(href="/sandwiches") Sandwiches
        if user.permissions >= 2
          p -
          a(href="/commands") Commands
        if user.permissions >= 3
          p -
          a(href="/admin") Administration
      p |
      if user
        a(href="/profile")=user.username
        a(href="/logout") Logout
      else
        a(href="/login") Login
        a(href="/register") Register

    div#more
      a About
      a Contact

    div#dark.hide
    div#about.popup.card.hide
      h1 About
      p This software respond to the COVID-19 health crisis for the following students' offices food supply
      div.images
        div
          img(src="/images/logoBio.png")
          p Bio student office
        div
          img(src="/images/logoChimie.png")
          p Chemical student office
        div
          img(src="/images/logoGC.png")
          p Civil engineering student office
        div
          img(src="/images/logoGCGP.png")
          p Chemical and process engineering student office
        div
          img(src="/images/logoGEA.png")
          p Management of companies and administrations student office
        div
          img(src="/images/logoInfo.png")
          p IT student office
      p.before-link Made with ❤️ by
        a(href="https://www.linkedin.com/in/florian-charlaix" target="_blank") Florian Charlaix
    div#contact.popup.card.hide
      h1 Contact
      p.before-link Order issue:
        a(href="mailto: ") test@test.fr
      p.before-link Bio student office:
        a(href="mailto: ")
      p.before-link Chemical student office:
        a(href="mailto: ")
      p.before-link Civil engineering student office:
        a(href="mailto: ")
      p.before-link Chemical and process engineering student office:
        a(href="mailto: bde.gcgp.lyon1@gmail.com") bde.gcgp.lyon1@gmail.com
      p.before-link Management of companies and administrations student office:
        a(href="mailto: ")
      p.before-link IT student office:
        a(href="mailto: contact@bde-info.org") contact@bde-info.org

    script(src="/javascripts/layout.js")
