extends layout

block content
    div.container
        div.row
            form(action="/login" method="POST")
                h3=__("login.title")
                div.row
                    div.input-field.col.s12
                        input#username(type="text" name="username" required)
                        label(for="username")=__("username")+":"
                div.row
                    div.input-field.col.s12
                        input#password(type="password" name="password" required)
                        label(for="password")=__("password")+":"
                div.row.center
                    div.input-field.col.s12
                        +submit(__("login.submit"))

            div.row.center
                div.input-field.col.s12
                    a.btn.waves-effect.waves-light.red(href="/forget")=__("forgetPassword")
