mixin submit(value)
    div.recaptcha.recaptcha-cb
        input(type="submit" value!=value)
        if !test
            p !{captcha}
            script.
                function cb(token) {
                    document.querySelectorAll("div.recaptcha.recaptcha-cb").forEach(el => {
                        el.classList.remove("recaptcha-cb");
                        let input = document.createElement("input");
                        input.setAttribute("type", "hidden");
                        input.setAttribute("name", "g-recaptcha-response");
                        input.setAttribute("value", token);
                        el.appendChild(input);
                    });
                }
