extends layout

block content
    div.card
        h1 Payment
        if (state === "success")
            h2=__("payment.successful")
        else if (state === "cancel")
            h2=__("payment.canceled")
        else if (state === "error")
            h2=__("payment.error")
        if (state !== "success")
            a(href="/order/retry")
                button=__("payment.retry")
