extends ../../layout

block content
    div.container
        h1=__("admin.userManagement")
        ul.collection
            each user in users
                li.collection-item
                    div=user.username
                        div.secondary-content
                            a(href="/admin/users/edit?name="+user.username)
                                i.material-icons edit
                            a.delete(href="/admin/users/delete?name="+user.username)
                                i.material-icons remove

    div.fixed-action-btn
        a.btn-floating.btn-large.blue(href="/admin/users/add")
            i.large.material-icons add

    script(src="/javascripts/admin/users.js")
