extends ../../layout

block content
    div.container
        h1=__("admin.new")+" "+__("sandwich")
        div.row
            form(action="/admin/sandwiches/add" method="POST")
                div.row
                    div.input-field.col.s12
                        label(for="name")=__("admin.name")+":"
                        input#name(type="text" name="name" required)
                div.row
                    div.input-field.col.s12
                        label(for="price")=__("admin.price") + ":"
                        input#price(type="number" min="0" step="any" name="price" value="0" required)
                div.row.center
                    div.input-field.col.s12
                        +submit(__("admin.add"))
