extends ../../layout

block content
    div.container
        h1=__("admin.sandwichManagement")
        ul.collection
            each sandwich in sandwiches
                li.collection-item
                    div=sandwich.name
                        div.secondary-content
                            a(href="/admin/sandwiches/edit?name="+sandwich.name)
                                i.material-icons edit
                            a.delete(href="/admin/sandwiches/delete?name="+sandwich.name)
                                i.material-icons remove

    div.fixed-action-btn
        a.btn-floating.btn-large.blue(href="/admin/sandwiches/add")
            i.large.material-icons add

    script(src="/javascripts/admin/sandwiches.js")
