extends ../../layout

block content
    div.container
        h1=__("admin.edit")+" "+department.name
        div.row
            form(action="/admin/departments/edit" method="POST")
                input.hide(type="text" name="name" value=department.name required)
                div.row
                    div.input-field.col.s12
                    label(for="name")=__("admin.name")+":"
                    input#name(type="text" name="newName" value=department.name required)
                div.row.center
                    div.input-field.col.s12
                        +submit(__("save"))
