extends ../../layout

block content
    div.container
        h1=__("admin.departmentsManagement")
        ul.collection
            each department in departments
                li.collection-item
                    div=department.name
                        div.secondary-content
                            a(href="/admin/departments/edit?name="+department.name)
                                i.material-icons edit
                            a.delete(href="/admin/departments/delete?name="+department.name)
                                i.material-icons remove

    div.fixed-action-btn
        a.btn-floating.btn-large.blue(href="/admin/departments/add")
            i.large.material-icons add

    script(src="/javascripts/admin/departments.js")
